.fi{
    width: 30px;
    height: 20px;
}
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 62.50%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  .video-container iframe,
  .video-container object,
  .video-container embed {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
  }
  .container{
    display: flex;
    width: 10%;
    margin-left: 5%;
}
.btn{
    width: fit-content;
}
/* add */
body, html {
    height: 100%;
    margin: 0;
}

.yisan{
  height: 60px;
  width: 60px;
  background-image: url('https://i.ibb.co/q9DccPD/yi-san.jpg');
  background-size: cover;
}
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        transform: translateX(100%);
        position: static; /* Stack below content on mobile */
    }
    .sidebar.collapsed {
        transform: translateX(0);
    }
    .content {
        margin-right: 0; /* No margin on mobile */
    }
}
